<div id="sidebar">

	<div class="leftdiv1">
		<h1>My dinner</h1>
		<h3>People: <input type="number" min="1" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/></h3>
	</div>

	<div class="leftdiv2">
 		<div class="col-sm-6"><p class="leftcontlefttext">Dish Name</p></div>
 		<div class="col-sm-2"></div>
 		<div class="col-sm-4"><p class="leftcontrighttext">Cost</p></div>
 	</div>
 	<div id="leftdiv3">
 		<!-- fill this div with menu items -->
 		<div ng-repeat="Items in Menu">
 			<div class="leftdivitem removeButton" ng-click="removeDish(Items)" title="Click to remove dish.">
			<div class="hvr-back-pulse">
        	<div class="col-sm-6"><p class="leftcontlefttext">{{Items.Title}}</p></div>
        	<div class="col-sm-2"></div>
        	<div class="col-sm-4"><p class="leftcontrighttext"> 100 kr</p></div>
        	</div></div>
		</div>


 	</div>
 	<div class="leftdiv4">
		<div class="col-sm-4"></div>
 		<div class="col-sm-4"></div>
 		<div class="col-sm-4"><p class="leftcontrighttext" id="totPrice"> <span> </span> SEK</p></div>
	</div>
	<div class="leftdiv5">
    <div class="confirmbtn">
      <a href="#/overview" class="btn btn-warning">Confirm Dinner</a>
    </div>
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!--Total number of guest: {{getNumberOfGuests()}}-->

</div>