<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->


<div id="rightcont">
	
	<div id="rightcont1">
		<div id="dishDetailText">
			<h1 style="padding-left:2%;">{{Title}}</h1>
		</div>	
		<img class="detailImg" ng-src="{{Image}}" width="320" height="320" style="padding-left:2%;">
		<div style="padding-left:2%;"><p>{{Description}}</p></div>
		<div style="padding-left:2%;"><a href="#/search" class="btn btn-warning" id="backToSelectDish">Back to select dish</a></div>
	</div>
			

	<div id="rightcont2">
		<h3 class="numberOfGuests2" id="leftpad"> INGREDIENTS FOR {{getNumberOfGuests()}} PEOPLE</h3>
			<div class="ingline"></div>
			<div id="ingredientsTable"> 		
				<table style="width:90%">
					<tr ng-repeat="Ing in Ingredients">
						<td>{{Ing.Quantity*getNumberOfGuests() | number : 0}} {{Ing.Unit}}</td>
						<td>{{Ing.Name}}</td>
						<td>{{Ing.Quantity*getNumberOfGuests() | number : 0}}</td>
						<td>SEK</td>
					</tr>
				</table>  
			</div>
        <div class="col-sm-3"><a ng-click="addDishToMenu()" href="#/search" type="button" id="confBut" class="btn btn-secondary">Confirm Dish</a></div>
        <div class="col-sm-3"><p></p></div>
        <div class="col-sm-3"><p id="boldpos">Total</p></div>
        <div class="col-sm-3"><div class="ingpricetot"><p>{{totalPrice()*getNumberOfGuests()}}</p></div></div>  
	</div>


	<div id="rightcont3">
	<h1> Preperation </h1>
	<p>{{Instructions}}</p>
	</div> 
	


</div>