<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<h1>{{Title}}</h1>
<img ng-src="{{Image}}"></img>
<p>{{Description}}</p>
<p>{{Instructions}}</p>
<table>
	<tr ng-repeat="Ing in Ingredients">
		<td>{{Ing.Name}}</td>
		<td>{{Ing.MetricDisplayQuantity}} {{Ing.MetricUnit}}</td>
		<td>{{Ing.Quantity}} {{Ing.Unit}}</td>
	</tr>
</table>