<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->

 <div id="selectDish">   

	<div class="selectdishbar">
		<h4>Select dish</h4>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" ng-model="query"/>
				<button ng-click="search(query)">Search!</button>
				{{status}}
            </div>
        </div>

	</div>
		
	<div id="dishcontent">
 		<div ng-repeat="dish in dishes">
 			<div class="col-md-3 dishcontpad">
 				<img class="sImg" ng-src="{{dish.ImageURL}}">
 				<a ng-href="#/dish/{{dish.RecipeID}}" style="width:200px">
 					<div class="sName">
 						<h5>{{dish.Title}}</h5>
 					</div>
 				</a>
 			</div>
 		</div>
	</div>
		
		
</div>
